.dark-medium-contrast {
    --md-sys-color-primary: rgb(211 219 255);
    --md-sys-color-surface-tint: rgb(180 197 255);
    --md-sys-color-on-primary: rgb(13 34 85);
    --md-sys-color-primary-container: rgb(125 143 200);
    --md-sys-color-on-primary-container: rgb(0 0 0);
    --md-sys-color-secondary: rgb(215 219 243);
    --md-sys-color-on-secondary: rgb(32 37 54);
    --md-sys-color-secondary-container: rgb(139 144 165);
    --md-sys-color-on-secondary-container: rgb(0 0 0);
    --md-sys-color-tertiary: rgb(249 208 242);
    --md-sys-color-on-tertiary: rgb(54 28 53);
    --md-sys-color-tertiary-container: rgb(169 134 164);
    --md-sys-color-on-tertiary-container: rgb(0 0 0);
    --md-sys-color-error: rgb(255 210 204);
    --md-sys-color-on-error: rgb(84 0 3);
    --md-sys-color-error-container: rgb(255 84 73);
    --md-sys-color-on-error-container: rgb(0 0 0);
    --md-sys-color-background: rgb(18 19 24);
    --md-sys-color-on-background: rgb(227 226 233);
    --md-sys-color-surface: rgb(18 19 24);
    --md-sys-color-on-surface: rgb(255 255 255);
    --md-sys-color-surface-variant: rgb(69 70 79);
    --md-sys-color-on-surface-variant: rgb(220 219 230);
    --md-sys-color-outline: rgb(177 177 187);
    --md-sys-color-outline-variant: rgb(143 144 153);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(227 226 233);
    --md-sys-color-inverse-on-surface: rgb(41 42 47);
    --md-sys-color-inverse-primary: rgb(52 70 122);
    --md-sys-color-primary-fixed: rgb(219 225 255);
    --md-sys-color-on-primary-fixed: rgb(0 14 53);
    --md-sys-color-primary-fixed-dim: rgb(180 197 255);
    --md-sys-color-on-primary-fixed-variant: rgb(33 51 103);
    --md-sys-color-secondary-fixed: rgb(221 225 249);
    --md-sys-color-on-secondary-fixed: rgb(11 16 33);
    --md-sys-color-secondary-fixed-dim: rgb(193 197 221);
    --md-sys-color-on-secondary-fixed-variant: rgb(48 54 72);
    --md-sys-color-tertiary-fixed: rgb(255 214 248);
    --md-sys-color-on-tertiary-fixed: rgb(31 8 31);
    --md-sys-color-tertiary-fixed-dim: rgb(226 187 219);
    --md-sys-color-on-tertiary-fixed-variant: rgb(73 45 70);
    --md-sys-color-surface-dim: rgb(18 19 24);
    --md-sys-color-surface-bright: rgb(67 68 74);
    --md-sys-color-surface-container-lowest: rgb(6 7 12);
    --md-sys-color-surface-container-low: rgb(28 29 35);
    --md-sys-color-surface-container: rgb(39 40 45);
    --md-sys-color-surface-container-high: rgb(49 50 56);
    --md-sys-color-surface-container-highest: rgb(60 61 67);
}