.dark-high-contrast {
    --md-sys-color-primary: rgb(238 239 255);
    --md-sys-color-surface-tint: rgb(180 197 255);
    --md-sys-color-on-primary: rgb(0 0 0);
    --md-sys-color-primary-container: rgb(175 193 253);
    --md-sys-color-on-primary-container: rgb(0 9 40);
    --md-sys-color-secondary: rgb(238 239 255);
    --md-sys-color-on-secondary: rgb(0 0 0);
    --md-sys-color-secondary-container: rgb(189 194 217);
    --md-sys-color-on-secondary-container: rgb(6 10 27);
    --md-sys-color-tertiary: rgb(255 234 248);
    --md-sys-color-on-tertiary: rgb(0 0 0);
    --md-sys-color-tertiary-container: rgb(222 183 215);
    --md-sys-color-on-tertiary-container: rgb(25 3 25);
    --md-sys-color-error: rgb(255 236 233);
    --md-sys-color-on-error: rgb(0 0 0);
    --md-sys-color-error-container: rgb(255 174 164);
    --md-sys-color-on-error-container: rgb(34 0 1);
    --md-sys-color-background: rgb(18 19 24);
    --md-sys-color-on-background: rgb(227 226 233);
    --md-sys-color-surface: rgb(18 19 24);
    --md-sys-color-on-surface: rgb(255 255 255);
    --md-sys-color-surface-variant: rgb(69 70 79);
    --md-sys-color-on-surface-variant: rgb(255 255 255);
    --md-sys-color-outline: rgb(239 239 250);
    --md-sys-color-outline-variant: rgb(194 194 204);
    --md-sys-color-shadow: rgb(0 0 0);
    --md-sys-color-scrim: rgb(0 0 0);
    --md-sys-color-inverse-surface: rgb(227 226 233);
    --md-sys-color-inverse-on-surface: rgb(0 0 0);
    --md-sys-color-inverse-primary: rgb(52 70 122);
    --md-sys-color-primary-fixed: rgb(219 225 255);
    --md-sys-color-on-primary-fixed: rgb(0 0 0);
    --md-sys-color-primary-fixed-dim: rgb(180 197 255);
    --md-sys-color-on-primary-fixed-variant: rgb(0 14 53);
    --md-sys-color-secondary-fixed: rgb(221 225 249);
    --md-sys-color-on-secondary-fixed: rgb(0 0 0);
    --md-sys-color-secondary-fixed-dim: rgb(193 197 221);
    --md-sys-color-on-secondary-fixed-variant: rgb(11 16 33);
    --md-sys-color-tertiary-fixed: rgb(255 214 248);
    --md-sys-color-on-tertiary-fixed: rgb(0 0 0);
    --md-sys-color-tertiary-fixed-dim: rgb(226 187 219);
    --md-sys-color-on-tertiary-fixed-variant: rgb(31 8 31);
    --md-sys-color-surface-dim: rgb(18 19 24);
    --md-sys-color-surface-bright: rgb(79 80 86);
    --md-sys-color-surface-container-lowest: rgb(0 0 0);
    --md-sys-color-surface-container-low: rgb(30 31 37);
    --md-sys-color-surface-container: rgb(47 48 54);
    --md-sys-color-surface-container-high: rgb(58 59 65);
    --md-sys-color-surface-container-highest: rgb(70 70 76);
}